.bodystyle{

    background-image: linear-gradient(to left, rgb(104, 94, 150), #1e053a);
    color: #d8e6e6;
  
}
.ullist{

    padding-left: 10px;
    
    }
    
.nav-item{
    
    padding-left: 10px;
    
    }

.row{

    align-items: flex-start;
    padding-top: 20px;
}   
.container{
    padding-left:20px;
    margin-left: 15px;
    position: absolute;
    }
.card-style{

    padding-top:150px;
    padding-left:60px;
}
.card-title{

color:black

}
.card-body{

    color:black;
}